body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

.navbar {
    background-color: #00171f;
    color: #00a8e8;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
}

.content {
    height: 100%;
    width: 100%;
}

/* The hero image is shown on the background with a rounded profile picture on top */

.profileBg {
    height: 75%;
    width: 100%;
    background-image: url("../img/cv_hero.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 0;
    }


    
.profilePic img {
    position: relative;
    border: 2px solid white;
    border-radius: 50%;
    height: 15%;
    width: 15%;
    left: 42%;
    margin-bottom: 2%;
}

.top_indent {
    margin-top: 5%;
}

.head_dark {
    text-align: center;
    color: #00171F;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
}

.head_light {
    text-align: center;
    color: #FFFFFF;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
}

.readMore {
    height: 25%;
    text-align: center;
    color: #00171F;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

/* Increased height to 130% to ensure that on smaller screens the cards do not overflow into the next section. */

.darkContent {
    background-color: #00171F;
}

.lightContent {
    background-color: #FFFFFF;
}

.aboutMe {
    padding-top: 5%;
    color: #FFFFFF;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 5%;
    font-weight: bold;
}

.aboutMeDark {
    padding-top: 5%;
    color: #00171F;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 5%;
    font-weight: bold;
}

/* Card height is not more responsive through the h-100 class in cards and img-fluid.  */

.card {
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0,126,167,0.39);
    -moz-box-shadow: 0px 0px 15px 3px rgba(0,126,167,0.39);
    box-shadow: 0px 0px 15px 3px rgba(0,126,167,0.39);
    border: 2px solid white;
}

.card-body {
    background-color: #00171F;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
}