body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

/* header and background image should be about half the height of the screen and 100% width */
/* profile pic should be right in the middle of the screen */
.content {
    height: 100%;
    width: 100%;
}

/* Img may need additional editing to really shine in the background */

.profileBg {
    height: 75%;
    width: 100%;
    background-image: url("../img/cv_hero.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 0;
    }


    
.profilePic img {
    position: relative;
    border: 2px solid white;
    border-radius: 50%;
    height: 15%;
    width: 15%;
    left: 42%;
    margin-bottom: 2%;
}

.top_indent {
    margin-top: 5%;
}

.head_dark {
    text-align: center;
    color: black;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
}

.head_light {
    text-align: center;
    color: whitesmoke;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
}

